@use "tailwindcss";

@media (prefers-color-scheme: dark) {
  .shiki,
  .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

html {
  font-size: 16px;

  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-gray-800);
    color: var(--color-gray-200);
  }
}

@media (width < 600px) {
  html {
    font-size: 13px;
  }
}

.clickable {
  &:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.10);
    filter: brightness(0.8);
    cursor: pointer;
  }
}

a, p, span, pre, code {
  transition: font-size 0.12s ease;
}

a {
  &:not(.native) {
    transition: all 0.12s ease;

    overflow-wrap: break-word;
    white-space: break-spaces;
    text-overflow: fade;

    color: var(--color-blue-500);

    @media (prefers-color-scheme: dark) {
      color: var(--color-blue-400);
    }

    &:hover {
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
      filter: brightness(0.9);
      cursor: pointer;
    }
  }
}

p {
  margin-bottom: 1rem;
  line-height: 1.8rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.3rem;

  &.no-margins {
    margin-top: 0;
    margin-bottom: 0;
  }
}

h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

// Multi line code block
span[data-line-number] {
  display: block;
}

pre {
  // background-color: var(--color-gray-100);

  padding: 1.2rem;
  margin-bottom: 1rem;

  overflow-x: auto;

  border-radius: 0.5rem;

  @media (prefers-color-scheme: light) {
    border: 1px solid var(--color-gray-200);
  }

  @media (prefers-color-scheme: dark) {
    // background-color: var(--color-gray-100);
  }
}

// Text inside single or multi line code blocks
code {
  color: var(--color-gray-500);

  @media (prefers-color-scheme: dark) {
    color: var(--color-gray-800);
  }

  &:not(pre code) {
    // Add padding for single line blocks
    padding: 0.1rem 0.3rem;
    border-radius: 0.2rem;

    background-color: var(--color-gray-100);

    @media (prefers-color-scheme: dark) {
      background-color: #2e3440ff;
      color: #d8dee9ff;
    }
  }
}

blockquote {
  padding: 1rem;
  margin-bottom: 1rem;

  border-left: 4px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.05);

  @media (prefers-color-scheme: dark) {
    border-left: 4px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
  }

  p {
    margin-bottom: 0;
  }
}

ol {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

li:before {
  content: '\2022';
  margin-right: 1rem;
}

p {
  code {
    overflow-wrap: break-word;
  }
}

.footnotes {
  hr {
    display: none;
  }
}